@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
      (-0.5+ (random()) * 4) +
        em
        (-0.5+ (random()) * 3) +
        em
        7px
        hsla(7 * 192, 90%, 50%, 0.7);
  }
  text-shadow: $text-shadow;
}

.root {
  overflow: hidden;
  background: #000;
}

.root {
  display: block;
  font-size: 50px;
  color: transparent;
}

.root::before,
.root::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

.root::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

.root::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
